* {
  margin: 0px;
  padding: 0px;
}

body {
  margin-top: 20px;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.color1 {
  background-color: #bfc1c4;
  font-weight: bolder;
  color: black;
}

.color2 {
  background-color: #dad8d8;
  font-weight: bolder;
  color: black;
}

.color3 {
  background-color: #cfd8e0;
  font-weight: bolder;
  color: black;
}

.color4 {
  background-color: #969494;
  font-weight: bolder;
  color: black;
}

.color4 {
  background-color: #95a392;
  font-weight: bolder;
  color: black;
}

header .container-fluid .container ul li a .carrito {
  width: 10%;
  height: 10%;
}

main .container h4 {
  font-weight: bolder;
  font-size: large;
  text-align: center;
  padding-right: 10px;
}

main .container h4 img {
  padding-left: 10px;
  width: 4%;
  height: 4%;
}

main .container .imgMarcas .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-color: grey;
  border-style: solid;
  border-radius: 5px;
}

main .container .imgMarcas .d-flex img {
  height: 85%;
  width: 85%;
}

main .container h2 {
  font-weight: bolder;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.2em black;
}

main .container h1 {
  font-weight: bolder;
  font-size: 40px;
}

main .container h4 {
  font-weight: bold;
  text-align: center;
}

main .container form {
  background-color: #bfc1c4;
  font-weight: bolder;
  color: black;
}

main .container form button {
  background-color: #cfd8e0;
  font-weight: bolder;
  color: black;
}

@-webkit-keyframes nombre {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes nombre {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

main .contProductoPrinc .contProductoTitulo {
  text-shadow: 0.1em 0.1em 0.2em black;
}

main .contProductoPrinc .contProducto .contProducto2 img {
  height: 180px;
  width: 180px;
}

main .prodYBusc {
  padding-right: 0px;
}

main .prodYBusc .container-fluid .row .busc {
  padding-left: 15px;
}

main .prodYBusc .container-fluid .row .favorito a {
  font-weight: bolder;
}

main .prodYBusc .container-fluid .row .favorito a h4 {
  font-weight: bolder;
  padding-right: 25px;
}

main .prodYBusc .container-fluid .row .favorito a .favorito {
  width: 10%;
  height: 10%;
}

main .prodYBusc .container-fluid .row .carrito a h4 {
  font-weight: bolder;
  padding-right: 20px;
}

main .prodYBusc .container-fluid .row .carrito a .carrito {
  width: 10%;
  height: 10%;
}

main .prodYBusc .container-fluid .row .dropD h4 {
  font-weight: bolder;
}

main .prodYBusc .container-fluid .row .dropD h5 {
  font-weight: bolder;
}

main .prodYBusc .container-fluid .row .dropD ul li a h4 {
  padding-right: 10px;
}

main .prodYBusc .container-fluid .row .dropD ul li a h4 img {
  padding-left: 10px;
  width: 8%;
  height: 8%;
}

main .prodYBusc .container-fluid .row .dropD ul li div {
  color: black;
}

main .prodYBusc .container-fluid .row .dropD ul li a {
  color: black;
}

main .modal {
  color: black;
  font-weight: bolder;
}

main .container .row .prod1 .divProd {
  text-align: center;
}

main .container .row .prod1 .divProd h5 {
  text-align: center;
  font-weight: bolder;
}

main .container .row .prod1 .divProd h6 {
  text-align: center;
  font-weight: bolder;
}

main .container .row .prod1 .divProd img {
  height: 60%;
  width: 60%;
}

main .container .row .prod1 .divProd img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

main .container .row .prod2 .divProd {
  text-align: center;
}

main .container .row .prod2 .divProd h5 {
  text-align: center;
  font-weight: bolder;
}

main .container .row .prod2 .divProd h6 {
  text-align: center;
  font-weight: bolder;
}

main .container .row .prod2 .divProd img {
  height: 90%;
  width: 90%;
}

main .container .row .prod2 .divProd img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

main .container .row .prod3 .divProd {
  text-align: center;
}

main .container .row .prod3 .divProd h5 {
  text-align: center;
  font-weight: bolder;
}

main .container .row .prod3 .divProd h6 {
  text-align: center;
  font-weight: bolder;
}

main .container .row .prod3 .divProd img {
  height: 90%;
  width: 90%;
}

main .container .row .prod3 .divProd img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

main .nuevosIng {
  padding-right: 10px;
}

main .nuevosIng img {
  padding-left: 10px;
  width: 5%;
  height: 5%;
}

main .titulo h1 {
  text-shadow: 0.1em 0.1em 0.2em black;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .container-fluid .tarjetas .tarjetas2 img {
  padding-right: 10px;
  opacity: 70%;
  width: 17%;
}

.footer .container-fluid .row .miCuenta .list-group a {
  color: whitesmoke;
}

.footer .container-fluid .row .miCuenta .list-group li h5 {
  font-weight: bolder;
  color: #030397;
}

.footer .container-fluid .row .container .list-group {
  font-weight: bolder;
}

.footer h5 {
  color: black;
}

.footer .row {
  padding-left: 20%;
  padding-right: 21%;
}

.footer .row a img {
  opacity: 80%;
}

.footer .container span {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .redes .txtRedes span {
  color: black;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: medium;
}

.footer .redes .imgRedes .imgRedes2 img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.footer .redes .imgRedes .imgRedes3 {
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

main .contProductoPrinc .contProducto .contProducto2:hover {
  background-color: #d3d0d0;
}
/*# sourceMappingURL=style.css.map */